/*
   Copyright (c) 2011 Mathieu Roy <yeupou--gnu.org>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
   USA
*/

#box {
  background-image: url(images/back.png); 
  border: thin black inset; 
  border-radius: 0.8em 0.8em 0 0;
  color: white;
  text-align: center;
  vertical-align: middle;
  width: 11em;
}

#buttons {
  background-image: url(images/back2.png); 
  width: 11em;
  position: absolute;
  margin-top: 2px;
  text-align: left;
  border: thin black inset; 
  border-radius: 0 0 0.8em 0.8em;
}

#config {
  display: none;
  background: url(images/back2.png); 
  width: 11em;
  text-align: left;
  color: white;
  border: thin black inset; 
  border-radius: 0.8em 0.8em 0 0;
}
#configtitle { border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#configcontent { padding-top: 2em;  }
button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    
}

table {    
  border: 0;
  padding: 0;
  margin: 0;
}

.days {
  width: 1.5em;
  font-weight: bold;
  color: #DCDCDC;
}

.less {
  opacity: 0.7;
}

.am {
  color: #66aeff;
}

.pm { 
  color: #ff8366;
}

.underline {
  font-weight: bold;
  text-decoration: underline;
}

img.configure {
  width: 1.3em;
}

img.nextprev {
  width: 2.2em;
}

#month0 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month1 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month2 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month3 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month4 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month5 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month6 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em; }
#month7 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month8 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month9 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month10 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }
#month11 { display: none; border-radius: 0 0.8em 0 0; float: right; padding-right: 4em; padding-left: 1em;  }


/* EOF */